#title, #description{
  color: #153e7f;
  font-family: arial;
  text-align: center;
}

#title{
  font-family: righteous, sans-serif;
}

body{
  background: grey;
  width: 100%;
  height: 100%;
  text-align: center;
}
